{% assign image_files = site.static_files | where: "photo", true %}
<div class="row gal-container">
  {% for myimage in image_files %}
  <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
    <div class="box">
      <a href="#" data-toggle="modal" data-target="#{{ myimage.basename }}-modal">
        <img src="{{ myimage.path }}" />
      </a>
      <div class="modal fade" id="{{ myimage.basename }}-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">×</span></button>
            <div class="modal-body">
              <img src="{{ myimage.path }}" />
            </div>
            <div class="col-md-12 description">
              <h4>{{ myimage.basename }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
